<div>
    <div class="modal-header ">
        <h2>Editar Skill</h2>
        <span type="button" class="btn btn-danger" (click)="modal.dismissAll()">&times;</span>
    </div>

    <div class="container row">
        
          <div>
            <form (ngSubmit)="onCreate()" novalidate #form="ngForm">
                <div class="form-group">
                    <label for="nombreS">Nombre del Skill</label>
                    <input type="text" class="form-control" id="nombreS" name="nombreS" [(ngModel)]="nombreS" required=""> 
                </div>
                <div class="form-group">
                    <label for="porcentaje">Porcentaje del Skill</label>
                    <input type="text" class="form-control" id="porcentaje" name="porcentaje" [(ngModel)]="porcentaje" required=""> 
                </div>
                <br>
                <button type="" class="btn btn-success">
                    Actualizar Skill
                </button>
            </form>
          </div>
     
    </div>
</div>